@page "/Login"
@using System.Reflection.Metadata
@inject NavigationManager _nav

<h3>Login</h3>

<form>
    <div class="mainView">
        <label for="username">Username: </label>
        <input type="text" id="username" name="login"@bind="_username" required><br>
        <br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="pass"@bind="_password" required><br>
        <button @onclick="@LoggedIn">Login</button>
    </div>
</form>

@code {
    
    private string? _username { get; set; }
    private string? _password { get; set; }

    
    private void LoggedIn()
    {
        try
        {
            _username = "";
            _password = "";
            _nav.NavigateTo("/MainView");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw;
        }
    }
}