.mainView[b-qykcwqgtcg]
{
    text-align: left;
    margin: auto;
    width: 50%;
    border: 1px solid #0dcaf0;
    padding: 20px;
}

.centered[b-qykcwqgtcg]
{
    text-align: center;
}

.Btn[b-qykcwqgtcg]
{
    font-family: "Georgia", Georgia, serif;
    border-radius: 3px;
    border-color: black;
    height: 30px;
    width: 80px;
}

input[type=text][b-qykcwqgtcg]
{
    color: #bcbebf;
    width: 70%;
    text-align: left;
    margin-left: 20px;
    border: none;
    border-bottom: 2px solid #0b5ed7;
}

input[type=password][b-qykcwqgtcg]
{
    width: 20%;
    text-align: left;
    margin-left: 20px;
    border: 2px solid #0b5ed7;
}

input[type=date][b-qykcwqgtcg]
{
    text-align: left;
    margin-left: 20px;
}